/*
 * Add your Stylesheet contents here
 */

body {
	margin-top:100px;
	background: url('GMLIB/themes/gmc/bg.png') fixed;
	color:#EEE;
	font-size:35px;
}

h2 {
	text-align: center;
	font-size:30px;
}

p {
	margin: 20px;
}

.group {
	position: relative;
	-webkit-border-radius: 8px;
	border: solid #aaa 1px;
	margin: 16px;
	overflow:hidden;
	background-color:#111111;
}

.group .title{
	top: 0;
	bottom: 0;
	left: 0px;
	padding: 10px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	vertical-align: middle;
	background: rgba(0,0,0,0.1);
	border-bottom: 1px solid #aaa;
	text-overflow: ellipsis;
	overflow: hidden;
}

.group .field {
	padding-left: 10px;
	display: block;
	position: relative;
	border-left: 1px solid #fafafa;
	padding-top: 10px;
	word-wrap: break-word;
}

.group.closed .field {
	position: absolute;
	left: -1000px;
}
	
.group.closed .title {
	-webkit-border-bottom-left-radius: 8px;
	border-bottom: none;
}

.group .field:last-child {
	padding-bottom: 10px;
}

.group .field .label {
	padding: 0 4px;
	width: 150px;
	font-size: 12px;
	text-align: right;
	display: table-cell;
}

.group .field .value {
	display: table-cell;
	padding: 0 8px 0 4px;
}